
.heading{
    width:100%;
    text-align: left;
    }
    .heading button{
    float: right;
    border:1px ridge white;
    }
    h3{
    font-size: 25px;
    }
    body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
    }
    .footer{
        position: fixed;
        color:aqua;
        background: dimgray;
        bottom:0;
        width: 100%;
        line-height: 3;
        text-align: center;
        font-size: 12px;
        }